services:
    exam:
        build:
            context: .
        ports:
            - "5555:5555"
        env_file:
            - .env
        volumes:
            - .:/app
            - /app/node_modules
        restart: on-failure
        command: >
            sh -c "npm start"
